<!DOCTYPE html>
<html>
<head>
    <title>DEFANS PRO</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>DEFANS</h1>
<p>Dezenformasyon Analiz Sistemi</p>

<div class="container">

    <div class="left">
        <textarea id="text" placeholder="Metin gir"></textarea>
        <button onclick="analyze()">Analiz Et</button>

        <h3 id="result"></h3>
    </div>

    <div class="right">
        <h3>📰 Haberler</h3>
        {% for n in news %}
            <p>{{n.title}}</p>
        {% endfor %}

        <h3>🐦 Twitter</h3>
        {% for t in tweets %}
            <p>{{t.text}}</p>
        {% endfor %}
    </div>

</div>

<script>
function analyze(){
    let text = document.getElementById("text").value;

    fetch("/analyze", {
        method: "POST",
        body: new URLSearchParams({text})
    })
    .then(r => r.json())
    .then(d => {
        document.getElementById("result").innerText =
            "Risk: " + d.risk + " | " + d.label;
    })
}
</script>

</body>
</html>