<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DEFANS PRO</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    <h1>DEFANS</h1>
    <p>Dezenformasyon Erken Analiz Sistemi</p>
</div>

<div class="stats">
    <div class="box">Toplam Analiz <span id="total">0</span></div>
    <div class="box red">Tehlikeli <span id="danger">0</span></div>
    <div class="box green">Güvenli <span id="safe">0</span></div>
</div>

<div class="container">

<div class="left">
    <textarea id="text" placeholder="Metin gir"></textarea>
    <button onclick="analyze()">Analiz Et</button>

    <div class="meter">
        <div id="bar"></div>
    </div>

    <h2 id="result"></h2>
</div>

<div class="right">

    <div class="card">
        <h3>📰 Haberler</h3>
        {% for n in news %}
        <p>{{n.title}}</p>
        {% endfor %}
    </div>

    <div class="card">
        <h3>🌐 Sosyal Medya</h3>
        {% for r in reddit %}
        <p>{{r.text}}</p>
        {% endfor %}
    </div>

</div>

</div>

<script>
let total=0, danger=0, safe=0;

function analyze(){
    let text = document.getElementById("text").value;

    fetch("/analyze", {
        method:"POST",
        body:new URLSearchParams({text})
    })
    .then(r=>r.json())
    .then(d=>{
        total++;
        if(d.risk>60) danger++; else safe++;

        document.getElementById("total").innerText=total;
        document.getElementById("danger").innerText=danger;
        document.getElementById("safe").innerText=safe;

        document.getElementById("result").innerText =
        d.label + " ("+d.risk+"%)";

        let bar=document.getElementById("bar");
        bar.style.width=d.risk+"%";

        bar.style.background = d.risk>60 ? "red" : "lime";
    });
}
</script>

</body>
</html>